/* Elements */

html, body {
	height: 100%;
	font-family: 'Poppins', sans-serif;
}

section {
	min-height: 90%;
	padding-left: 3px;
	padding-right: 3px;
}
  
input[type=submit] {
	align-self: start;
	min-width: 10em;
}


img {
	width: 100%;
}

/* End of elements */

#sections-div {
	height: 100%;

}

/* Classes */

.home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #e1f3f8;
}

.home * {
	text-align: center;
}

.home > img {
	/* These center the image */
	margin-left: auto;
	margin-right: auto;

	width: 200px;
	border-radius: 100%;
}

.aboutMe {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	background-color: #f9dede;
}

.experience {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.card {
	border-radius:30px;
	background-color: tan;
	color: black;
}

.card .btn-primary {
	background-color: #323a45;
	border: 1px solid black;
}

.card img {
	border-radius: 30px;
	height: 275px;
}

.projects {
	display: flex;
	flex-direction: column;
	justify-content: space-center;	
	background-color: #e7f4e4;
	text-align: center;
}

@media screen and (max-width: 767px) {
	.experience {
		flex-direction: column;
	}

	.card {
		margin: auto;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	
}
  

 